user_gr
GR_Downloads/
demo
demo_md
chroma_whole_md_file
document_chunks
md
p_markdown
output_markdown
eng_markdown
populate_database.py
pdf_to_md_by_script.py
image_to_text.py
query_data.py
test_rag.py
pdf_to_vectore.py
db_with_chunk_gr_dept_no.py
create_db.py

requirements.txt
demo.py
get_embedding_function.py
chroma_gr_dept
chroma_md
chroma_demo
chroma
__pycache__

.env